.section1{
    background-color:#fcdb00;
}
.header{
    padding-top: 72px;
}
.logo{
    display: flex;
    margin:auto;
    justify-content:center ;
}
#name{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    color: #222222;
    font-size: 35px;
    padding-left: 11px;
}
.btn{
    border-radius:0;
    border: 2px solid #000000;


}
#text{
    text-align: center;
}
h1{
    text-align: center;
}
.massenger{
    padding-left: 190px;
    display: flex;
    justify-content: right;
    justify-content: space-between;
}
.start{
    padding-top: 304px;
    margin: auto;
    display: flex;
    justify-content: center;

}
h1{
color: #222222;
font-family: 'Source Sans Pro', sans-serif;
font-size: 57px;
font-weight: 700;
line-height: 21.25px;
}
#text{
    width: 562px;
    text-align: center;
    color: #222222;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.34px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 25px;
}
.button{
    padding-top: 47px;
    margin: auto;
    color: #010101;
    font-family: "Source Sans Pro";
    font-size: 26px;
    font-weight: 700;
    line-height: 28.34px;
    text-transform: uppercase;
    }
.arrow{
    padding-top: 213px;
    padding-bottom: 63px;
    width: 18px;
    padding-left: 561px;
}
.main1{
text-align: center;
padding-top:137px;
}
#text2{
    color: #898989;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.34px;
    display: flex;
    justify-content: center;
    padding-top: 19px;
}
.r1{
    padding-bottom: 103px;
}

.r2{
    padding-bottom: 103px;
}
.fas fa-mobile-alt{
    width: 40px;
height: 48px;
}
#features{
color: #898989;
font-family: 'Source Sans Pro', sans-serif;
font-size: 19px;
font-weight: 400;
line-height: 23.62px;
}
.r3{
    padding-bottom: 276px;
}
.r4{
    text-align: center;
    padding-bottom: 90px;
}
.prais{
    display: flex;
    justify-content: center;
    text-align: center;
}
.r5{
    padding-top: 31px;
}
.r6{
    padding-top: 30px;
}
.r7{
    padding-top: 52px;
}
.r8{
    padding-top: 10px;
}
.r9{
    padding-top: 10px;
}
.r10{
    padding-top: 44px;
}
.r11{
    text-align: center;
    padding-top: 230px;
}
.r12{
    text-align: center;
    padding-top: 81px;
}
.r13{
    text-align: center;
    padding-top: 77px;
}
.r14{
    text-align: center;
    padding-top: 310px;
}

.r15{
    padding-top: 89px;
    text-align: center;
}
#team{
    width: 151px;
}
.massenger2{
    padding-left:35%;
    padding-right: 35%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.main5{
    text-align: center;
}
.r16{
    padding-top: 218px;
}
.r17{
    padding-top: 65px;
}
.text3{
    padding-top: 19px;
    color: #010101;
    font-family: "Source Sans Pro";
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28.34px;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.text4{
color: #898989;
font-family: "Source Sans Pro";
font-size: 17px;
font-weight: 400;
letter-spacing: normal;
line-height: 18.89px;
text-align: center;
font-style: normal;
line-height: normal;
padding-top: 0px;
}
.r18{
    padding-top: 95px;
}
#quote{
    width:123px;
}
.r19{
    padding-top: 35px;
}
.quote1{
    text-align: right;
    color: #898989;
}
.quote2{
    text-align: left;
    color: #898989;
}
.quote3{
color: #898989;
font-family: "Source Sans Pro";
font-size: 24px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 28.34px;
text-align: center;

font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.main6{
    text-align: center;
}
.r20{
    padding-top: 251px;
}
.r21{
    padding-top: 57px;
}
#text5{
color: #010101;
font-family: "Source Sans Pro";
font-size: 28px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 28.34px;
text-align: center;
font-style: normal;
letter-spacing: normal;
line-height: normal;
padding-top: 29px;
}
.text6{
color: #898989;
font-family: "Source Sans Pro";
font-size: 17px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 28.34px;
text-align: center;
font-style: normal;
letter-spacing: normal;
line-height: normal;
padding-top: 5px;
}
a{
    color: #898989;
font-family: "Source Sans Pro";
font-size: 17px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 28.34px;
text-align: center;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.r22{
    padding-top: 50px;
}
.r23{
    padding-top:28px;
}
.r24{
    padding-top:25px;
}
#forma{
    border: 2px solid #000000;
    border: 1px solid #010101;
    border-radius: 0rem;
}
.r25{
    padding-top: 27px;
    padding-bottom: 89px;
}
.section-3{
    background-color: #010101;
    background-color: #232527;
    color:#ffffff;
}

.r26{
    text-align: center;
    padding-top: 113px;
}
.r27{
    padding-top: 46px;
}
.r28{
    padding-top: 135px;
}