
.section1{
    background-color:#fcdb00;
}
.header{
    padding-top: 72px;
}
.logo{
    display: flex;

    justify-content:center ;
}
#name{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    color: #222222;
    font-size: 35px;
    padding-left: 11px;
}
.btn{
    border-radius:0;
    border: 2px solid #000000;
}
#text{
    text-align: center;
}
h1{
    text-align: center;
}
.massenger{
    padding-left: 190px;
    display: flex;
    justify-content: right;
    justify-content: space-between;
    
}
.massenger1{
    color:black;
}
a:hover{
    color:black;
}
.start{
    padding-top: 304px;
    margin: auto;
    display: flex;
    justify-content: center;

}
h1{
color: #222222;
font-family: 'Source Sans Pro', sans-serif;
font-size: 57px;
font-weight: 700;
line-height: 21.25px;
}
#text{
    width: 562px;
    text-align: center;
    color: #222222;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.34px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 25px;
}
.button{
    padding-top: 47px;
    margin: auto;
    color: #010101;
    font-family: "Source Sans Pro";
    font-size: 26px;
    font-weight: 700;
    line-height: 28.34px;
    text-transform: uppercase;
    }
.arrow{
    padding-top: 213px;
    padding-bottom: 63px;
    
}
#skroll{
    text-decoration: none;
    color: black;
}

.main1{
text-align: center;
padding-top:137px;
}
#text2{
    color: #898989;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.34px;
    display: flex;
    justify-content: center;
    padding-top: 19px;
}
.r1{
    padding-bottom: 103px;
}

.r2{
    padding-bottom: 103px;
    text-align: left;
}
.fas fa-mobile-alt{
    width: 40px;
height: 48px;
}
#features{
color: #898989;
font-family: 'Source Sans Pro', sans-serif;
font-size: 19px;
font-weight: 400;
line-height: 23.62px;
}

.r3{
    padding-bottom: 276px;
    text-align: left;
}
.r4{
    text-align: center;
    padding-bottom: 90px;
}
.prais{
    display: flex;
    justify-content: center;
    text-align: center;
}
.r5{
    padding-top: 31px;
}
.r6{
    padding-top: 30px;
}
.r7{
    padding-top: 52px;
}
.r8{
    padding-top: 10px;
}
.r9{
    padding-top: 10px;
}
.r10{
    padding-top: 44px;
}
.r11{
    text-align: center;
    padding-top: 230px;
}
.r12{
    text-align: center;
    padding-top: 81px;
}
.r13{
    text-align: center;
    padding-top: 77px;
}
.r14{
    text-align: center;
    padding-top: 310px;
}

.r15{
    padding-top: 89px;
    text-align: center;
}
#team{
    
}
.massenger2{
    padding-left:35%;
    padding-right: 35%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.main5{
    text-align: center;
}
.r16{
    padding-top: 218px;
}
.r17{
    padding-top: 65px;
}
.text3{
    padding-top: 19px;
    color: #010101;
    font-family: "Source Sans Pro";
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28.34px;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.text4{
color: #898989;
font-family: "Source Sans Pro";
font-size: 17px;
font-weight: 400;
letter-spacing: normal;
line-height: 18.89px;
text-align: center;
font-style: normal;
line-height: normal;
padding-top: 0px;
}
.r18{
    padding-top: 95px;
}
#quote{
    width:123px;
}
.r19{
    padding-top: 35px;
}
.quote1{
    text-align: right;
    color: #898989;
}
.quote2{
    text-align: left;
    color: #898989;
}
.quote3{
color: #898989;
font-family: "Source Sans Pro";
font-size: 24px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 28.34px;
text-align: center;

font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.main6{
    text-align: center;
}
.r20{
    padding-top: 251px;
}
.r21{
    padding-top: 57px;
}
#text5{
color: #010101;
font-family: "Source Sans Pro";
font-size: 28px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 28.34px;
text-align: center;
font-style: normal;
letter-spacing: normal;
line-height: normal;
padding-top: 29px;
}
.text6{
color: #898989;
font-family: "Source Sans Pro";
font-size: 17px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 28.34px;
text-align: center;
font-style: normal;
letter-spacing: normal;
line-height: normal;
padding-top: 5px;
}
a{
    color: #898989;
font-family: "Source Sans Pro";
font-size: 17px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 28.34px;
text-align: center;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.r22{
    padding-top: 50px;
}
.r23{
    padding-top:28px;
}
.r24{
    padding-top:25px;
}
#forma{
    border: 2px solid #000000;
    border: 1px solid #010101;
    border-radius: 0rem;
}
.r25{
    padding-top: 27px;
    padding-bottom: 89px;
}
.section-3{
    background-color: #010101;
    background-color: #232527;
    color:#ffffff;
}

.r26{
    text-align: center;
    padding-top: 113px;
}
.r27{
    padding-top: 46px;
}
.r28{
    padding-top: 135px;
}
.sub-menu 
{ 
    display: none; 
} 
.main-item:focus ~ .sub-menu, 
.main-item:active ~ .sub-menu, 
.sub-menu:hover 
{ 
    display: block; 
} 
.contact{
    color:#ffffff;
    text-decoration: none;
}
.contact:hover{
color: #898989;
}
.psevdomas:hover{
    background-color:black;
    color: white;
}
.psevdomas{
    color:black;
}
#toggle {
    display: block;
    width: 28px;
    height: 30px;
    margin: 15px auto 10px;
}

#toggle span:after,
#toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}
#toggle span:after{
    top: 9px;
}
#toggle span {
    position: relative;
    display: block;
}
#toggle span,
#toggle span:after,
#toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #000;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}

  /* on activation */
#toggle.on span {
    background-color: transparent;
}
#toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
    opacity: 1;
    visibility: visible;
}

#menu {
    position: relative;
    color: #000;
    width: 200px;
    padding: 10px;
    margin: auto;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    text-align: center;
    border-radius: 4px;
    background: white;
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    /* just for this demo */
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
}
#menu:after {
    position: absolute;
    top: -15px;
    left: 95px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
}
ul, li, li .burger {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}
li .burger {
    padding: 5px;
    color: #000;
    text-decoration: none;
    transition: all .2s;
}
li .burger:hover,
li .burger:focus {
    background: #fcdb00;
    color: #000;
}
.arrow {
  text-align: center;
  color:black;
}
.arrow1{
    color: black;
}
a:hover{
    text-decoration: none;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.text7{
    color:#898989;
    font-family: "Source Sans Pro";
font-size: 19px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 23.62px;
text-align: center;
/* Text style for "From Wỏdpr" */
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.text9{
    font-family: "Source Sans Pro";
font-size: 38px;
font-weight: 700;
font-style: normal;
letter-spacing: normal;
line-height: 28.34px;
text-align: left;
text-transform: uppercase;
/* Text style for "F, REE" */
font-style: normal;
letter-spacing: normal;
line-height: normal;
}